.login-box {
  width: 25%;
}
.login-box .login-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
}
.login-box .login-logo a:link {
  text-decoration: none;
}
.login-box .login-card {
  background-color: #fff;
  border-top: 0;
  color: #666;
  padding: 20px;
}
.login-box .login-card form .container .align-self-start {
  padding: 0px;
}
.login-box .login-card form .container .button-container {
  padding: 0px;
}
.login-box .login-card form .container button {
  width: 100%;
}
.login-box .login-card form .feedback-email,
.login-box .login-card form .feedback-password {
  font-size: 0.8rem;
}
.login-box .login-card .login-menu a:link {
  text-decoration: none;
}
.login-box .login-card .login-menu a:hover {
  text-decoration: underline;
}
.login-box .login-card-msg {
  text-align: center;
}
.login-box .feedback-login {
  text-align: left;
  font-size: 0.8rem;
}
.register-box {
  width: 25%;
}
.register-box .register-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
}
.register-box .register-logo a:link {
  text-decoration: none;
}
.register-box .register-card {
  background-color: #fff;
  border-top: 0;
  color: #666;
  padding: 20px;
}
.register-box .register-card form .container .align-self-start {
  padding: 0px;
}
.register-box .register-card form .container .button-container {
  padding: 0px;
}
.register-box .register-card form .container button {
  width: 100%;
}
.register-box .register-card form .feedback {
  font-size: 0.8rem;
}
.register-box .register-card .register-menu a:link {
  text-decoration: none;
}
.register-box .register-card .register-menu a:hover {
  text-decoration: underline;
}
.register-box .register-card-msg {
  text-align: center;
}
.login-page,
.register-page {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .login-page .login-box {
    width: 92%;
  }
}
@media screen and (max-width: 350px) {
  .login-page .login-box {
    width: 96%;
  }
}
